body{
  margin: 50px 0;
}

.container{
  height: 200px;
}

[class*="col-"]{
  background-color: rgba(224, 130, 131, 0.4);
  border: 1px solid black;
  height: 100%;
  position: relative;
}

.border-white{
  border: 1px solid white;
}

.container .padding{
  height: 100%;
}

.padding {
  padding: 10px;
}


span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
