body{
  margin-bottom: 50px;
}

[class*="col-"]{
  background-color: rgba(224, 130, 131, 0.4);
  border: 1px solid black;
  height: 200px;
}



.border-white{
  border: 1px solid white;
}

.border-black{
  border: 1px solid black;
}


.padding{
  padding: 5px 5px 5px 5px;
}
